PORT=3000
DATABASE_URL_RW=postgres://dashboard_rw:CHANGEME@localhost:5432/dashboard
DATABASE_URL_RO=postgres://dashboard_ro:CHANGEME@localhost:5432/dashboard
DATABASE_URL_RW_TEST=postgres://dashboard_rw:CHANGEME@localhost:5432/dashboard_test

# Generate with: openssl rand -hex 32
# 外部からのmetricsのPOSTリクエストの認証に使用されるトークン
WRITE_TOKEN=
# DBに保存されるデータの暗号化に使用されるキー
ENCRYPTION_KEY=

PREVIEW_TEXT_LIMIT=65536
PREVIEW_TAR_ENTRY_LIMIT=200
PREVIEW_TARXZ_BYTE_LIMIT=268435456
